[[source]]
name = "pypi"
url = "https://pypi.org/simple"
verify_ssl = true

[dev-packages]
pylint = "*"

[packages]
aniso8601 = "==4.0.1"
click = "==7.0"
itsdangerous = "==1.1.0"
pytz = "==2018.7"
six = "==1.12.0"
Flask = "==1.0.2"
Flask-JWT = "==0.3.2"
Flask-RESTful = "==0.3.7"
Flask-SQLAlchemy = "==2.3.2"
Jinja2 = "==2.10"
MarkupSafe = "==1.1.0"
PyJWT = "==1.4.2"
SQLAlchemy = "==1.2.15"
Werkzeug = "==0.14.1"
sqlite3 = "*"
pipenv = "*"
install = "*"
db = "*"

[requires]
python_version = "3.7"
